#section {
    margin-top: 100px;
}
.info-ul {
    list-style-type: none;
    direction: rtl;
    font-size: 25px;
    margin-top: 80px !important; 
}
@media (max-width: 900px) {
    .info-ul {
        margin-top: 50px !important;
        margin-bottom: 60px !important;
    }
}
@media (min-width: 901px) {
    .edit-chooser {
        float: left;
    }
}
.choose {
    border: grey solid 1px;
    border-radius: 15px;
    margin: 10%;
    margin-top: 0;
    min-height: 300px;
}
.edit-chooser {
    border: grey 1px solid;
    padding: 20px;
}
.item-btn {
    width: 100%;
    margin-bottom: 20px;

}
.info-item {
    margin: 20px;
    margin-right: 0;
}
