.upload-submit {
    margin-top: 30px;
    width: 200px;
}
.upload-form {
    margin: auto;
    width: 225px;
}
.head-howto {
    text-align: center;
    line-height: 90px;
}
h3 {
    line-height: 75px !important; 
}